html {
    font-family: "Open Sans", Oswald;
}

header {
    background-color: #004175;
    color: white;
    border-style: solid;
    border-bottom: 10px solid #89DEEF;
}

.dogs {
    background-color: #004175;
    justify-content: center;
    padding: 10px;
    border: none;
}


dt {
    display: inline-block;
    background-color: #89DEEF;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

img {
    display: inline;
}