* {
    box-sizing: border-box;
    margin: 10px;
    font-family: "Open Sans", Oswald;
}

header {
    background-color: #004175;
    color: white;
    border-style: solid;
    border-bottom: 10px solid #89DEEF;
}

#container {
    border: none;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.photo {
    width: 400px;
    font-family: Oswald;
    font-size: 24px;
}

dt {
    display: inline-block;
    background-color: #89DEEF;
    padding: 5px;
    margin: 5px;
    border-width: 0px;
    border-radius: 10px;
    font-size: 14px;
    justify-content: space-between;
}

.dogs {
    width: 400px;
    box-sizing: content-box;
    border: none;
}

#sock {
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0px 0px;
    padding: 0px;
    margin: 0;
}

.peet {
    width: 250px;
    height: 300px;
    border-style: none;
    display: inline;
    margin: 0px;
}

.toe1 {
    background:
        linear-gradient(rgba(166, 169, 240, 0.491), rgba(166, 169, 240, 0.491)), url("./starter_files/images/donate.jpg");
    background-repeat: no-repeat;
    flex: 1 1 auto;
    background-size: cover;
}

.toe2 {
    background:
        linear-gradient(rgba(166, 169, 240, 0.491), rgba(166, 169, 240, 0.491)), url("./starter_files/images/volunteer.jpg");
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.toe3 {
    background:
        linear-gradient(rgba(166, 169, 240, 0.491), rgba(166, 169, 240, 0.491)), url("./starter_files/images/location.png");
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-size: cover;
}

#pedi {
    font-size: 40px;
    color: white;
    font-family: Oswald;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: Oswald;
}